*{
    margin:auto;
    padding: 0;
}
body,html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 40px;
    background-color: #292634;
}
.backBotton, .logoutBotton{
    border-radius: 3px;
    width: 120px;
    height: 15px;
    background-color: #d75b5b;
    color: #f5d4d4;
    font-family: Segoe UI;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    padding: 10px;
    position: absolute;
    left: 20px;
    top: 20px;
}
.backBotton:hover, .logoutBotton:hover{
    background-color: #d63734;
}
.logoutBotton{
    right:20px;
    left: auto;
}

.content{
    background-color: #f8f8ff;
    border: none;
    width: 90%;
    max-width: 600px;
    min-height: 65px;
    display: block;
    border-radius: 5px;
}
#logo{
    background-color: #f8f8ff;
    width: 82px;
    height: 45px;
    border-radius: 5px;
}
header{
    border-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color: #292634;
    padding: 10px;
    box-sizing: border-box;
}
span{
    color: #d63734;
    font-family: Segoe UI ;
    font-size: 11px;
}
.submitForm input{
    border: none;
    width: 80%;
    height: 45px;
    display: block;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px  ;
    color: #f17572;
    background-color: #ffffff;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}
#button{
    color: #fff3f3;
    background-color: #d63734;
    border: none;
    width: 80%;
    height: 45px;
    display: block;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 30px;
}
#button:hover{
    background-color: #e82b27;
}
#succes{
    text-align: center;
    font-family: Segoe UI;
    font-size: 12px;
    color: #d63734;
    visibility: hidden;
}
#error{
    text-align: center;
    font-family: Segoe UI ;
    font-size: 12px;
    color: red;
    padding-bottom: 25px;
}
#footer{
    width: 100%;
    min-height: 50px;
    padding: 20px 30px;
    box-sizing: border-box;
    font-family: Segoe UI Bold;
    font-size: 10px;
    color: #fff3f3;
    text-align: center;
}
#imageUpload{
    color: #f17572;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
    padding-left: 10%;
}
.items{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}
.clearFloat{
    clear: both;
}
.item{
    background-color: #ffffff;
    width: 100%;
    min-height: 40px;
    box-sizing: border-box;
    margin-top: 10px;
    padding: 10px 0;
}
.first{
    float: left;
    width: 70%;
    line-height: 40px;
    box-sizing: border-box;
    padding-left: 20px;
}
.first a{
    font-family: Segoe UI;
    font-weight: bold;
    font-size: 14px;
    color: #489bca;
    text-decoration: none;
}
.first a:hover{
    text-decoration: underline;
}
.second{
    float: right;
    width: 30%;
    text-align: right;
    font-family: Segoe UI ;
    font-size: 14px;
    font-weight: bold;
}
.second .admis{
    padding-right: 20%;
    border: none;
    color: #1e9b44;
    text-decoration: none;
}
.second .respins{
    padding-right: 20%;
    border: none;
    color: #f31a57;
    text-decoration: none;
}
.second .admis:hover, .second .respins:hover {
    text-decoration: underline;
}

@media(max-width: 800px) {
    .submitForm input {
        width: 90%;
    }
    #button {
        width: 90%;
    }
}